.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: auto;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: inherit;
}

.form .root{
    margin: 2.5% 5% 5% 0;
}