.navbar{
    justify-content: space-between;
    background-color: #fd8957;
    width: 100%;
    height: 100px;
    display: flex;
}

.HeaderLogo{
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    /* margin-left: 25px; */
    color: white;
}

.titulo{
    margin: auto;
    margin-left: 0px;
    font-size: 14px;
    font-family: cursive;
    color: white;
}


@media screen and (max-width: 900px){
    .titulo{
        display: none;
    }

}


@media screen and (max-width: 700px){
    .HeaderLogo{
        display: none;
    }
}





@media screen and (max-width: 1000px){
    .search-box{
     width: 40%;
    }
 }
