.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_content{
    display: flex;
    position: relative;
    width: 70%;
    height: 100%;
    margin:50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}


.card{
    background: green;
    width: 30%;
    border-radius: 15px;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: .3s ease-in-out;
    /* margin-bottom: 50px; */
}

.card .card_header{
    flex-direction: column;
    color: white;
    /* margin: 25px 0; */
}

.card .card_header h2{
    font-size: 18px;
}

.card .card_header p{
    font-size: 14px;
    text-align: center;
    color: rgb(white, .3);
    margin: 8px 0;
    padding: 0 10px 0 10px;

}

.card .card_header .price{
    font-size: 25px;
    color: firebrick;
}

.btn{
    width: 50%;
    height: 40px;
    border: orange;
    background: orange;
    border-radius: 20px;
    
    font-size: 20px;
    margin-bottom: 16px;
    
}

.btn:hover{
    transition: 0.5s;
}