.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_content{
    display: flex;
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}


.card{
    width: 30%;
    border-radius: 15px;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: .3s ease-in-out;
    margin-bottom: 50px;
}

.card .card_header{
    background: rgb(236, 209, 58);
    flex-direction: column;
    color: rgb(255, 255, 255);
    margin: 25px 0;
}

.card .card_header h2{
    font-size: 22px;
}

.card .card_header p{
    font-size: 14px;
    text-align: center;
    color: rgb(white, .3);
    margin: 8px 0;

}

.card .card_header .price{
    font-size: 25px;
    color: white;
}

.btn{
    color: white;
    width: 50%;
    height: 40px;
    border: orange;
    background: orange;
    border-radius: 20px;
    
    font-size: 19px;
    margin-bottom: 16px;
    box-shadow:  inset 0 0 0 0;
    transition: ease-out 0.3s;
    
}

.btn:hover{
    background-color: #d46734;
    transition: 0.5s;
}